h1, h2 {
    color: maroon;
}
ul {
    background-color: lightgoldenrodyellow;
}

input[type=text] {
    background-color: lightgreen;
}
input[type=text]:hover {
    background-color: lightyellow;
}
input[type=password] {
    background-color: lightsteelblue;
}
a::before {
    content: "\21d2 Click here: ";
    font-weight: bold;
}
p::selection {
    color: maroon;
    background-color: lightyellow;
}

@media print {
    .screen-only {
        display: none;
    }
}
@media (min-width: 500px) {
    body {
        background-color: lightsalmon;
    }
}
@media (max-width: 499px) {
    body {
        background-color: lightskyblue;
    }
}